<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xws.oa.dao.DeptMapper">
  <resultMap id="BaseResultMap" type="com.xws.oa.entity.Dept">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_no" jdbcType="VARCHAR" property="deptNo" />
    <result column="charge_man" jdbcType="VARCHAR" property="chargeMan" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, dept_name, dept_no, charge_man, position, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_dept
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_dept
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xws.oa.entity.Dept">
    insert into tb_dept (id, dept_name, dept_no, 
      charge_man, position, create_date
      )
    values (#{id,jdbcType=VARCHAR}, #{deptName,jdbcType=VARCHAR}, #{deptNo,jdbcType=VARCHAR}, 
      #{chargeMan,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xws.oa.entity.Dept">
    insert into tb_dept
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptName != null">
        dept_name,
      </if>
      <if test="deptNo != null">
        dept_no,
      </if>
      <if test="chargeMan != null">
        charge_man,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null">
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeMan != null">
        #{chargeMan,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xws.oa.entity.Dept">
    update tb_dept
    <set>
      <if test="deptName != null">
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptNo != null">
        dept_no = #{deptNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeMan != null">
        charge_man = #{chargeMan,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xws.oa.entity.Dept">
    update tb_dept
    set dept_name = #{deptName,jdbcType=VARCHAR},
      dept_no = #{deptNo,jdbcType=VARCHAR},
      charge_man = #{chargeMan,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>